<header>
    <nav class="NavigationBar">
        <div class="NavigationBar-container">
            <div class="NavigationBar-brandContainer">
                <a class="NavigationBar-brand" [routerLink]="['/']">GamesApp</a>
                <div id="hamburger" class="NavigationBar-hamburgerContainer"  (click)="toggle()">
                    <div class="NavigationBar-hamburger">
                        <div class="NavigationBar-hamburgerLine"></div>
                        <div class="NavigationBar-hamburgerLine"></div>
                        <div class="NavigationBar-hamburgerLine"></div>
                    </div>
                </div>
            </div>

            <div class="NavigationBar-menuContainer" [class.NavigationBar-menuContainer--show] = "isExpanded === true">
                <ul class="NavigationBar-menu">
                    <li class="NavigationBar-menuList"
                        [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a [routerLink]="['/']">Home</a>
                    </li>
                    <li class="NavigationBar-menuList" [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/counter']">Counter</a>
                    </li>
                    <li class="NavigationBar-menuList" [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/fetch-data']">Fetch data</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>

